<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a th:href="@{/addPet}">Add pet</a>
    <a th:href="@{/listPets}">List Pet</a> 

    <a th:href="@{/addDonor}">Make Donation</a>
    <a th:href="@{/listDonors}">List Donors</a>

    <a th:href="@{/addEvent}">Add Event</a>
    <a th:href="@{/listEvents}">List of Events</a>

    <a th:href="@{/login}" class="hover-link primary-button">Login</a>
    <a th:href="@{/register}" class="hover-link secondary-button">signup</a>


</body>
</html>